@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Binvenido a HelpDesk</h1>
    <p>Bienvenido a tu software de compañia, donde podras crear tu ticket</p>
</div>
